<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tournament Details</title>
    <link th:replace="~{home :: bootstrapImport}">
</head>
<body>
<!-- NAVBAR -->
<span th:replace="~{home :: navbar}"></span>

<!-- BODY -->

<div class="container">
    <h1>Tournament Details</h1>
    <hr>
    <div class="col justify-content-center" th:if="${tournament != null}">
        <p>Name : <span th:text="${tournament.getName()}"></span></p>
        <p>Date : <span th:text="${tournament.getDate()}"></span></p>
        <p>Game : <span th:text="${tournament.getGame()}"></span></p>
        <p>Player limit : <span th:text="${tournament.getPlayerLimit()}"></span></p>
        <p>Rules : <span th:text="${tournament.getRules()}"></span></p>
        <p>Format : <span th:text="${tournament.getFormat()}"></span></p>
        <p>Status : <span th:text="${tournament.getStatus()}"></span></p>
    </div>
<!--    <hr>-->
<!--    <a th:href="@{/delete(tournamentId=${tournament.getId()})}" class="btn btn-danger">Delete</a>-->
<!--    <a th:href="@{/update(tournamentId=${tournament.getId()})}" class="btn btn-info">Update</a>-->
</div>
<div><a href="/templates/tournaments/listTournaments">Go back to list</a></div>

<!-- FOOTER -->
<span th:replace="~{home :: footer}"></span>
</body>
</html>